<% ['Víctor Silva Echeto', 'Lorena Hurtado', 'Iván Flores', 'Taller Cuerpo Sur', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro'].each do |amigo| %>
  <div class="with-text">
    <%= link_to image_tag('imagen_generica.png', class: 'button circle highlight'), 'https://www.google.cl', target: '_blank' %>
    <h2><%= amigo %></h2>
    </div>
<% end %>
