<% ['Víctor Silva Echeto', 'Lorena Hurtado', 'Iván Flores', 'Taller Cuerpo Sur', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro'].each do |amigo| %>
<% break %>
  <div class="with-text">
    <h2><%= amigo %></h2>
    </div>
<% end %>
<% ['Víctor Silva Echeto', 'Lorena Hurtado', 'Iván Flores', 'Taller Cuerpo Sur', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro', 'Otro'].each do |amigo| %>
<%= link_to simple_format(amigo), 'https://www.twitter.com', class: 'button circle highlight', target: '_blank' %>
<% end %>
