<h1>
  <%= icon('fas', 'bars') %>
  Archivos de Obras
</h1>
<div class="cards-container">
  <% (1..3).each do |c| %>
    <div class="card">
      <h2>Título</h2>
      <h3>Coreografía: coreógrafo</h3>
      <h4>Reseña</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, temporibus pariatur voluptas distinctio eaque cupiditate excepturi ea odit cumque voluptatem maiores consectetur fugiat natus aperiam sint nostrum, dolore animi minima!</p>
      <%= link_to icon('fas', 'video', 'ver video'), 'https://youtube.com' %>
    </div>
  <% end %>
</div>
