<% (1..4).each do |i| %>
  <div>
    <div class="card">
      <h2>Titulo de la obra</h2>
      <p>Core칩grafo(a)</p>
      <p>A침o</p>
      <p>Lugar de presentaci칩n</p>
      <p>Rese침a</p>
    </div>
    <%= image_tag('https://dummyimage.com/150x150/ccc/fff', class: 'circle') %>
  </div>
<% end %>
