<h1>
  <%= icon('fas', 'bars') %>
  Archivos de Obras
</h1>
<div class="ficha-video-container">
  <div class="ficha-container">
    <h1>Ficha Técnica</h1>
    <h2></h2>
    <h3>Coreografía:
      <span></span></h3>
    <h4>Reseña</h4>
    <p></p>
  </div>
  <%= video_tag('violencia_3.mp4', size: '640x360', controls: true) %>
</div>
