<% (1..4).each do |i| %>
  <div>
    <div class="card">
      <h2>Metodología 2</h2>
      <p>Datos</p>
      <p>xxxxxx</p>
    </div>
    <%= image_tag('https://dummyimage.com/150x150/ccc/fff', class: 'circle') %>
  </div>
<% end %>
