<% { metodologia_1: 'Metodología 1',
     metodologia_2: 'Metodología 2' }.each do |k, v| %>

  <div class="with-text">
    <%= image_tag('imagen_generica.png', class: 'nav-button button circle highlight', data: { goto: "metodologias-#{k}", titulo: 'Metodoloías', subtitulo: v }) %>
    <h2><%= v %></h2>
  </div>
<% end %>
