<div class="gallery-container">
  <h1>
    <%= icon('fas', 'bars') %>
    Archivos de prensa
  </h1>
  <div class="gallery hidden">
    <% (0..7).each do |p| %>
      <%= image_tag("https://dummyimage.com/150x100/eee/000") %>
    <% end %>
  </div>
</div>
<div class="thumbnails-container">
  <% @coreografos[0..2].each do |c| %>
    <%= image_tag("https://dummyimage.com/200x100/ccc/fff&text=#{c.nombre}", data: { target: '#prensa-container > .gallery-container > .gallery' }) %>
  <% end %>
</div>
<div class="thumbnails-container">
  <% @coreografos[3..6].each do |c| %>
    <%= image_tag("https://dummyimage.com/200x100/ccc/fff&text=#{c.nombre}", data: { target: '#prensa-container > .gallery-container > .gallery' }) %>
  <% end %>
</div>
