<div class="logos">
  <%= image_tag '01_mcap.svg' %>
  <%= image_tag '02_uach.svg' %>
  <%= image_tag '03_facultad.svg' %>
</div>
<div class="thumbnails">
  <% (1..3).each.with_index(1) do |img, index| %>
    <%= image_tag('imagen_generica.png', class: 'button circle highlight') %>
  <% end %>
</div>
<div>
  <iframe src="https://player.vimeo.com/video/369823604" width="640" height="352" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>
  <div class="info">
    <h3>Cuerpos en crisis. Análisis del discurso corporal en 10 obras de coreógrafos chilenos entre 1990 y 2010</h3>

    <h4>Objetivos</h4>
    <p>
      Realizar lecturas teórico-analíticas de los discursos contenidos en obras de danza, que tuvieron lugar en el espacio urbano como eje de su propuesta, en el periodo comprendido entre 1990–2010, con el fin de explicar cómo la danza contemporánea
      construye discursos de resistencia por medio de la instalación de obras en la ciudad.
    </p>

    <h4>Equipo</h4>
    <p>Marcela Hurtado. Directora de investigación</p>
    <p>Rodrigo Browne. Co- Investigador</p>
    <p>Katherine Barriga. Co-Investigador</p>
    <p>Victor Silva Echeto. Visita Internacional</p>
    <p>Lorena Hurtado. Asesora de Investigación</p>
    <p>Paulina Siel. Ayudante de Investigación</p>
    <p>Miguel Garrido. Ayudante de Investigación</p>
    <p>Bárbara Fernández R. Ayudante de Investigación</p>
    <p>Guillermo Barriga. Desarrollador web</p>
    <p>Edgardo Delgado. Técnico audiovisual</p>

    <h4>Resultados</h4>
    <ul>
      <li>Se estructura una metodología con instrumentos probados y analizados que puede ser replicada</li>
      <li>Se establecen conceptos que atraviesan la producción dancística del periodo</li>
      <li>Se comprueba la hipótesis</li>
      <li>Se establece una red de trabajo nacional, que seguirá funcionando terminado el proyecto</li>
      <li>Articulo aceptado</li>
      <li>Se obtienen cápsulas audiovisuales como parte de los instrumentos de análisis e investigación</li>
    </ul>
  </div>
</div>
