<div class="logos">
  <% (1..3).each.with_index(1) do |img, index| %>
    <%= image_tag('https://dummyimage.com/150x150/ccc/fff') %>
  <% end %>
</div>
<div class="thumbnails">
  <% (1..3).each.with_index(1) do |img, index| %>
    <%= image_tag('https://dummyimage.com/120x120/ccc/fff', class: 'button circle highlight') %>
  <% end %>
</div>
<div class="info">
  <h4>Ficha Técnica</h4>
  <p>Responsable: Marcela Hurtado Rubio</p>
  <p>xxxxxx</p>
  <p>xxxxxx</p>
  <p>xxxxxxx</p>

  <h4>Descripción</h4>
  <p>xxxxxx</p>
  <p>xxxxxx</p>
  <p>xxxxxxx</p>
  <p>xxxxxxxxx</p>

  <h4>Objetivos</h4>
  <p>xxxxxx</p>
  <p>xxxxxx</p>

  <h4>Resultados</h4>
  <p>xxxxxx</p>
  <p>xxxxxx</p>
  <p>xxxxxxx</p>
</div>
