<% { articulos: 'Artículos',
     ponencias: 'Ponencias',
     audiovisuales: 'Audiovisuales',
   }.each do |k, v| %>

  <div class="with-text">
    <%= image_tag('imagen_generica.png', class: 'nav-button button circle highlight', data: { goto: "publicaciones-#{k}", titulo: 'Publicaciones', subtitulo: v , }) %>
    <h2><%= v %></h2>
  </div>
<% end %>
