<% (1..4).each do |i| %>
  <div class="card">
    <h2>Titulo</h2>
    <p>Autor(es)</p>
    <p>Año</p>
    <p>Lugar de presentación</p>
    <p>Resumen</p>
    <% if !!current_user %>
      <%= link_to icon('fas', 'file-pdf', 'Descargar archivo'), '/assets/Ficha.pdf', target: '_blank' %>
    <% else %>
      <%= icon('fas', 'sign-in-alt', 'Inicie sesión para descargar archivos', class: 'nav-button nav-button-login', id: 'nav-button-login', data: { goto: 'login' }) %>
    <% end %>
  </div>
<% end %>
