<div class="video-container hidden">
  <%= video_tag('', size: '640x360', controls: true) %>
  <%= link_to icon('fas', 'file-pdf', 'Descargar ficha técnica'), '/assets/Ficha.pdf', target: '_blank' %>
</div>
<% (1..7).each.with_index(0) do |image, index| %>
<%= image_tag('imagen_generica.png', class: 'button command-button highlight circle') %>
<% end %>
