<div class="video-container hidden">
  <%= video_tag('', size: '640x360', controls: true) %>
  <%= link_to icon('fas', 'file-pdf', 'Descargar ficha técnica'), '/pdf/ficha-tecnica.pdf' %>
</div>
<% (1..7).each.with_index(0) do |image, index| %>
<%= image_tag('https://dummyimage.com/100x100/fff/000?text=TEXTO', class: 'button command-button highlight circle') %>
<% end %>
