<%= video_tag('', size: '640x360', poster: 'https://dummyimage.com/640x360/eee/222?text=VIDEO') %>
<div class="card">
  <h2>Ficha Técnica</h2>
</div>
<% (1..7).each.with_index(0) do |image, index| %>
  <div class="button">
    <%= image_tag('https://dummyimage.com/100x100/fff/000?text=TEXTO', class: 'button nav-button highlight circle') %>
  </div>
<% end %>
