<div class="thumbnails">
  <% (1..6).each.with_index(1) do |img, index| %>
    <%= image_tag('https://dummyimage.com/120x120/ccc/fff', class: "img-#{index} button #{'circle' if index != 5} highlight") %>
  <% end %>
</div>
<div class="card highlight">
  <div class="card-image">
    <%= image_tag('https://dummyimage.com/400x300/ccc/fff') %>
  </div>
  <div class="card-body">
    <p>Marcela Hurtado Rubio</p>
    <p>Arquitecta</p>
    <p>Dra. en Humanidades, mención Discurso</p>
    <p>Reseña: intereses xxxx xxxxx</p>
    <p>xxxxx</p>
    <p>xxxxxx</p>
  </div>
</div>
