<div class="thumbnails">
  <% (1..5).each.with_index(1) do |img, index| %>
    <%= image_tag('https://dummyimage.com/120x120/ccc/fff', class: "img-#{index} button command-button circle highlight") %>
  <% end %>
  <%= image_tag('undraw_social_girl_562b.svg', class: 'img-6 highlight') %>
</div>
<div class="card-container hidden">
  <div class="card highlight">
    <div class="card-image">
      <%= image_tag('https://dummyimage.com/400x300/ccc/fff') %>
    </div>
    <div class="card-body">
      <p>Marcela Hurtado Rubio</p>
      <p>Arquitecta</p>
      <p>Dra. en Humanidades, mención Discurso</p>
      <p>Reseña: intereses xxxx xxxxx</p>
      <p>xxxxx</p>
      <p>xxxxxx</p>
    </div>
  </div>
</div>
