<div class="video-container">
  <h1>
    <%= icon('fas', 'bars') %>
    Conceptos estudiados
  </h1>
  <div class="datos-container hidden">
    <%= video_tag('violencia_3.mp4', size: '640x360', controls: true) %>
  </div>
</div>
<div class="thumbnails-container">
  <% @conceptos[0..2].each do |c| %>
    <%= image_tag('https://dummyimage.com/200x100/000/fff', data: { target: '#videos-container > .video-container > .datos-container', url: url_for(c) }) %>
  <% end %>
</div>
<div class="thumbnails-container">
  <% @conceptos[3..6].each do |c| %>
    <%= image_tag('https://dummyimage.com/200x100/000/fff', data: { target: '#videos-container > .video-container > .datos-container', url: url_for(c) }) %>
  <% end %>
</div>
