<div class="video-container">
  <h1>
    <%= icon('fas', 'bars') %>
    Conceptos estudiados
  </h1>
  <div class="datos-container hidden" data-video-url="<%= video_path('violencia_3.mp4') %>">
  </div>
</div>
<div class="thumbnails-container">
  <% @conceptos[0..2].each do |c| %>
    <%= image_tag("https://dummyimage.com/200x100/000/fff&text=#{c.titulo}", data: { target: '#videos-container > .video-container > .datos-container', url: url_for(c) }) %>
  <% end %>
</div>
<div class="thumbnails-container">
  <% @conceptos[3..6].each do |c| %>
    <%= image_tag("https://dummyimage.com/200x100/000/fff&text=#{c.titulo}", data: { target: '#videos-container > .video-container > .datos-container', url: url_for(c) }) %>
  <% end %>
</div>
